.c-button {
  @include interactiveStyling;
  @include interactiveFocus;
  @include fluidText;

  &--close{
    padding: 0;
    width: calc(5.5vmin + 1rem);
    height: calc(5.5vmin + 1rem);
    justify-content: center;
    align-items: center;
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    grid-area: 1/-1/-1/-1;
    border: none;
    border-radius: 50%;
    &:hover,
    &:focus {
      opacity: 1;
      border: 2px solid white;
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }
    &:active {
      box-shadow: none;
    }
  }

  &--nav {
    @include interactiveStyling;
    border-radius: 50%;
    @include respond(tablet-plus) {
        display: none;
    }
    padding: calc(1vmin + 1.25rem);
    width: calc(5.5vmin + 1rem);
    height: calc(5.5vmin + 1rem);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:hover,
    &:focus {
      opacity: 1;
      border: 2px solid white;
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }
    &:active {
      box-shadow: none;
    }
  }

  &--dark {
    background-color: var(--dark);
  }
  &--light {
    background-color: var(--light);
    color: black;
    text-shadow: var(--outline--light);
  }
}
