:root {
  // COLORS
  --dark: rgba(0, 0, 0, 0.5);
  --darker: rgba(0, 0, 0, 0.75);
  --light: rgba(255, 255, 255, 0.65);
  --lighter: rgba(255, 255, 255, 0.25);

  // TEXT OUTLINE
  --outline--dark: 1px 0 0px var(--dark), 0 1px 0px var(--dark),
    1px 1px 0px var(--dark), -1px 0 0px var(--dark), 0 -1px 0px var(--dark),
    -1px -1px 0px var(--dark), -1px 1px 0px var(--dark),
    1px -1px 0px var(--dark), 1px 0 0px var(--dark), 0 1px 0px var(--dark),
    1px 1px 0px var(--dark), -1px 0 0px var(--dark), 0 -1px 0px var(--dark),
    -1px -1px 0px var(--dark), -1px 1px 0px var(--dark),
    1px -1px 0px var(--dark);
  --outline--light: 1px 0 0px var(--lighter), 0 1px 0px var(--lighter),
    1px 1px 0px var(--lighter), -1px 0 0px var(--lighter),
    0 -1px 0px var(--lighter), -1px -1px 0px var(--lighter),
    -1px 1px 0px var(--lighter), 1px -1px 0px var(--lighter),
    1px 0 0px var(--lighter), 0 1px 0px var(--lighter),
    1px 1px 0px var(--lighter), -1px 0 0px var(--lighter),
    0 -1px 0px var(--lighter), -1px -1px 0px var(--lighter),
    -1px 1px 0px var(--lighter), 1px -1px 0px var(--lighter);
}

$browser-context: 16; // Browser's default pixels

// RESPONSIVE BREAKPOINTS
/*
0 - 414px:       Phone (mobile-first design)
415 - 1199px:    Tablet plus
1200px - 1599px: Desktop
1600px + :       Big picture (full screen)
*/
$tablet-plus: 415px;
$desktop: 1200px;
$big-picture: 1600px;

$min-font-size: 1.6rem;
$max-font-size: 2.6rem;
$min-line-height: calc(#{$min-font-size} * 1.5);
$max-line-height: calc(#{$max-font-size} * 1.7);