.core-container {
  overflow-x: hidden;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  grid-template-rows: auto 1fr;
  height: 100%;

  @include respond(tablet-plus) {
      align-content: center;
      grid-template-rows: unset;
      height: unset;
  }
}