.l-content-ui {
  grid-area: 2 / 1 / 3 / 2;
  border-radius: clamp(.5rem, calc(.5vmin + .05rem), 3rem);
  display: grid;
  gap: calc(1vmin + 1rem);
  align-content: start;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: opacity 200ms, transform 300ms cubic-bezier(0.34, 1.36, 0.86, 1);
  opacity: 1;
  transform: scale(1,1);
  transform-origin: top;
  scrollbar-width: thin;
  scrollbar-color: white rgba(0, 0, 0, 0);

  @include respond(tablet-plus) {
    margin: calc(1vmin + 1rem);
    width: unset;
    &::-webkit-scrollbar {
      width: 1rem;
    }
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background-color: white;
    }
  }
  
  &__article {
    border-radius: clamp(.5rem, calc(.5vmin + .05rem), 3rem);
    width: 100%;
    padding: calc(1vmin + 1rem);
    display: flex;
    flex-direction: column;
    gap: calc(1vmin + 1rem);
    place-items: center;
    background-color: var(--dark);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: white;
    text-shadow: var(--outline--dark);
    &:last-of-type {
      margin-bottom: calc(1vmin + 1rem);
      @include respond(tablet-plus) {
        margin-bottom: 0;
      }
    }

    & a {
      @include interactiveFocus;
      color: white;
      &:hover {
        padding: 1rem;
        border-radius: 1rem;
      }
    }

    & h1 {
      font-size: 4rem;
    }
    & h2 {
      width: 100%;
      font-size: 3.5rem;
    }
    & h3 {
      width: 100%;
      font-size: 3rem;
    }

    & p,
    & li {
      @include fluidText;
    }

    & ul {
      width: 90%;
    }

    & p::selection {
      background: var(--light);
      color: black;
      text-shadow: var(--outline--light);
    }
    & p::-moz-selection {
      background: var(--light);
      color: black;
      text-shadow: var(--outline--light);
    }

    &:after {
      content: "";
      display: block;
      height: calc(1vmin + 1rem);
      width: 100%;
    }
  }
}